<h2>Best payment offers</h2>

<%=@currency_1_bank%>
<%=@currency_2_bank%>

<h4>You are transferring:</h4> <pre><%=@amount%> <%=@currency_1%> to <%=@currency_2%></pre>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Best offer to BUY<div class="text-muted" style="font-size: 75%">BTC in <%=@currency_1%></div></th>
      <th>Best offer to SELL<div class="text-muted" style="font-size: 75%">BTC in <%=@currency_2%></div></th>
      <th>Exchange rate<div class="text-muted" style="font-size: 75%"><%=@currency_1%> per <%=@currency_2%></div></th>
      <th>Current Google rate<div class="text-muted" style="font-size: 75%"><%=@currency_1%> per <%=@currency_2%></div></th>
      <th>Losses<div class="text-muted" style="font-size: 75%">Minus means you'll get more</div></th>
      <th>Links<div class="text-muted" style="font-size: 75%">CTRL+Click for new window</div></th>
    </tr>
  </thead>
  <tbody style="font-size: 150%; color: #AA0000">
        <td><%=@ticker1.first["data"]["temp_price"]%></td>
        <td><%=@ticker2.first["data"]["temp_price"]%></td>
        <td ><%=(@ticker1.first["data"]["temp_price"].to_f/@ticker2.first["data"]["temp_price"].to_f).round(5)%></td>
        <td><%=@google_rate.round(5)%></td>
        <td><%=(((@ticker1.first["data"]["temp_price"].to_f/@ticker2.first["data"]["temp_price"].to_f)/@google_rate - 1)*100).round(5)%>%</td>
        <td class="text-center"><a href="<%=@ticker1.first["actions"]["public_view"]%>" class="btn btn-primary" role="button" target="_blank">Best <%=@currency_1%> offer</a>
            &emsp;
            <a href="<%=@ticker2.first["actions"]["public_view"]%>" class="btn btn-primary" role="button" target="_blank">Best <%=@currency_2%> offer</a>
        </td>
  </td>
      </tr>
  </tbody>
</table>



<table class="table table-striped"> <caption><h3>All <u>BUY</u> offers in <%=@currency_1%></h3></caption>
  <thead>
    <tr>
      <th>Profile</th>
      <th>Trade Type</th>
      <th>Price per BTC</th>
      <th>Min-Max amount</th>
      <th>Link</th>
    </tr>
  </thead>
  <tbody>
    <%@ticker1.each do |offer|%>
        <td class="col-md-2"><a href="https://localbitcoins.net/accounts/profile/<%=offer["data"]["profile"]["username"]%>/" target="_blank"><%=offer["data"]["profile"]["username"]%>
              (<%=offer["data"]["profile"]["trade_count"]%>, <%=offer["data"]["profile"]["feedback_score"]%>%)</a>
            <br>Last online
              <%=a = Time.at(Time.now.utc - Time.parse(offer["data"]["profile"]["last_online"])).utc.strftime("%H:%M:%S")%> ago.
        </td>
        <td class="col-md-5"><%=offer["data"]["online_provider"]%>, <%=offer["data"]["bank_name"]%></td>
        <td class="col-md-2" style="font-size: 120%; color: #AA0000"><%=offer["data"]["temp_price"]%> <%=@currency_1%></td>
        <td class="col-md-2"><%=offer["data"]["min_amount"]%> - <%=offer["data"]["max_amount_available"]%> <%=@currency_1%></td>
        <td class="col-md-1"><a href="<%=offer["actions"]["public_view"]%>" class="btn btn-primary" role="button" target="_blank">Go to offer</a></td>
      </tr>
    <%end%>
  </tbody>
</table>

<table class="table table-striped"> <caption><h3>All <u>SELL</u> offers in <%=@currency_2%></h3></caption>
  <thead>
    <tr>
      <th>Profile</th>
      <th>Trade Type</th>
      <th>Price per BTC</th>
      <th>Min-Max amount</th>
      <th>Link</th>
    </tr>
  </thead>
  <tbody>
    <%@ticker2.each do |offer|%>
        <td class="col-md-2"><a href="https://localbitcoins.net/accounts/profile/<%=offer["data"]["profile"]["username"]%>/" target="_blank"><%=offer["data"]["profile"]["username"]%>
              (<%=offer["data"]["profile"]["trade_count"]%>, <%=offer["data"]["profile"]["feedback_score"]%>%)</a>
            <br>Last online
              <%=a = Time.at(Time.now.utc - Time.parse(offer["data"]["profile"]["last_online"])).utc.strftime("%H:%M:%S")%> ago.
        </td>
        <td class="col-md-5"><%=offer["data"]["online_provider"]%>, <%=offer["data"]["bank_name"]%></td>
        <td class="col-md-2" style="font-size: 120%; color: #AA0000"><%=offer["data"]["temp_price"]%> <%=@currency_2%></td>
        <td class="col-md-2"><%=offer["data"]["min_amount"]%> - <%=offer["data"]["max_amount_available"]%> <%=@currency_2%></td>
        <td class="col-md-1"><a href="<%=offer["actions"]["public_view"]%>" class="btn btn-primary" role="button" target="_blank">Go to offer</a></td>
      </tr>
    <%end%>
  </tbody>
</table>
